/* ESTILOS PARA registro.php*/

/* importa fuentes */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
/*Para llaamr
font-family: 'Inter', sans-serif;
*/


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

menu-main {
    display: flex;
    flex-direction: row;
    width: 60%;
}

#Contenedor_principal {
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items: center;
    background-color: rgba(231, 232, 239, 0.564);
    width: 60%;
    height: 80%;
    box-shadow: 5px 5px 5px rgba(1, 15, 204, 0.426);
  }



  #Titulo_seccion {
    display: flex;
    width: auto;
    height: 100%;
    display: inline;
    color: #ffffff;
    padding: 8px;
    background-color: #93c2ca;
}

  #Titulo_seccion h2 {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
  }

#menu_left {
    display: flex;
    flex-direction: column;
    width: 120px;
    height:100%;
    align-items:flex-start;
    font-weight: bold;
    background-color: rgb(0, 255, 255, 0.3);
    overflow: hidden;

}

#menu_left .menu-item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    color: black;
    padding: 10px;
}

#menu_left .menu-item li a {
    text-decoration: none;
    color: #000000;

}


.Formulario {
    flex: 1;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #444444bc;
    box-shadow: 0 0 10px rgba(5, 187, 193, 0.486);

}

.Formulario h2 {
    color: #fff !important;
}

#Registro {
    display: none;
}

#Consulta {
    display: none;
}

label {
    margin-bottom: 8px;
    color: #fff; 
    font-size: small;
}

input, select {
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: medium;
}

.Formulario button, .btn-default {
    width: 100px;
    border-radius: 10px;
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.Formulario button:hover, .btn-default {
    background-color: #2980b9;
}

.Formulario #Actualiza_btn {
    display: none;
    text-align: center !important;
}